{
  "name": "{{NAME}}",
  "type": "module",
  "private": true,
  "version": "1.0.0",
  "description": "{{DESCRIPTION}}",
  "scripts": {
    "dev": "slidev --remote --port {{PORT}}",
    "build": "slidev build"
  },
  "devDependencies": {
    "@slidev/cli": "52.14.2",
    "@slidev/theme-default": "0.25.0",
    "slidev-addon-pauseai": "workspace:*"
  }
}
