apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pauseai-es-presentaciones.fullname" . }}
  labels:
    {{- include "pauseai-es-presentaciones.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "pauseai-es-presentaciones.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pauseai-es-presentaciones.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SLIDEV_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secret.existingSecret | default (printf "%s-secret" (include "pauseai-es-presentaciones.fullname" .)) }}
                  key: SLIDEV_PASSWORD
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
